html,
body {
  font-family: sans-serif;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

table, th, td {
  border : 1px solid blue;
}

td{
  width: 70px;
}

tr {
  text-overflow:wrap; 
  height: 25px;
  
}
table {
  border-collapse:collapse;
}